{% load i18n %}
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<title>File Manager</title>
<link rel='stylesheet' href='{{ fileman_media_url }}/style.css' type='text/css'>
</head>

<body>
<div id="sidebar">
<div class="block actions">
<h2>{% trans "Actions" %}</h2>
    <div class="content">
    <p><img src="{{ fileman_media_url }}/user.gif"> {{ user }} <a href="#">[ {% trans "Exit" %} ]</a></p><br>
    <p><a href="{% url fileman.views.ls %}"><img src="{{ fileman_media_url }}/house.png"> {% trans "Home directory" %}</a></p>
    {% if perms.fileman.can_fm_del %}<p><a href="{% url fileman.views.listBasket %}"><img src="{{ fileman_media_url }}/bin.png"> {% trans "Recycle Bin" %}</a></p>{% endif %}
    <br>
    <p><a href="{% url fileman.views.download pwd %}"><img src="{{ fileman_media_url }}/download.gif"> {% trans "Download" %}</a></p>
    {% if perms.fileman.can_fm_del %}<p><a href="javascript:del();"><img src="{{ fileman_media_url }}/delete.png"> {% trans "Delete" %}</a></p>{% endif %}
    {% if perms.fileman.can_fm_destruct %}<p><a href="javascript:dest();"><img src="{{ fileman_media_url }}/cross.png"> {% trans "Destroy" %}</a></p>{% endif %}
    </div>
</div>
</div>

<div id="main">
{% if perms.fileman.can_fm_list %}
<div id="pwd"><b>{% trans "File:" %}</b> {{ pwd }}</div>
<div id="content">
<pre>
{{ data }}
</pre>
</div>
{% endif %}
</div>
</body>
</html>
