{% extends "fmbase.html" %}

{% load i18n %}

{% block title %}{{ pwd }} &ndash; {{ block.super }}{% endblock %}

{% block css %}
<link rel='stylesheet' href='{{ fileman_media_url }}/highlight.css' type='text/css'>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ fileman_media_url }}/highlight.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block sidebar %}
    <div class="block actions">
    <h2>{% trans "Actions" %}</h2>
        <div class="content">
        <p><a href="{% url fileman.views.ls back %}"><img src="{{ fileman_media_url }}/bullet_go.png"> {% trans "Back" %}</a></p>
        <p><img src="{{ fileman_media_url }}/user.gif"> {{ user }} <a href="#">[ {% trans "Exit" %} ]</a></p><br>
        <p><a href="{% url fileman.views.ls %}"><img src="{{ fileman_media_url }}/house.png"> {% trans "Home directory" %}</a></p>
        {% if perms.fileman.can_fm_del %}<p><a href="{% url fileman.views.listBasket %}"><img src="{{ fileman_media_url }}/bin.png"> {% trans "Recycle Bin" %}</a></p>{% endif %}
        <br>
        <p><a href="{% url fileman.views.download pwd %}"><img src="{{ fileman_media_url }}/download.gif"> {% trans "Download" %}</a></p>
        {% if perms.fileman.can_fm_del %}<p><a href="{% url fileman.views.delete pwd %}"><img src="{{ fileman_media_url }}/delete.png"> {% trans "Delete" %}</a></p>{% endif %}
        {% if perms.fileman.can_fm_destruct %}<p><a href="{% url fileman.views.destraction pwd %}"><img src="{{ fileman_media_url }}/cross.png"> {% trans "Destroy" %}</a></p>{% endif %}
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if perms.fileman.can_fm_list %}
    <div id="pwd"><b>{% trans "File:" %}</b> {{ pwd }}</div>
    <div id="content">
    <pre><code>
{{ data }}
    </code></pre>
    </div>
    {% endif %}
{% endblock %}
